<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapplication">

    <!-- 使用Sugar DB-->
    <meta-data android:name="DATABASE" android:value="@string/db_name" />
    <meta-data android:name="VERSION" android:value="@integer/db_version" />
    <meta-data android:name="QUERY_LOG" android:value="@bool/db_query_log" />
    <!-- DOMAIN_PACKAGE_NAME是application前一層目錄-->
    <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.myapplication" />

    <!-- Permission 設定-->
    <!-- Alert Window-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 網路權限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.MainApplication"
        tools:replace="android:icon">

        <!-- FB快速登入-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- LINE SDK Settings -->
        <activity
            android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="line.Channel ID" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:configChanges="keyboard|orientation"
            android:exported="false"
            android:screenOrientation="sensor" >
        </activity>

        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="@string/line_channel_id" />
        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.Channel ID" />

        <activity android:name=".View.main.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".View.test.TestActivity"></activity>
        <activity android:name=".View.HighlightOuterFrame.HighlightOuterFrameView"></activity>
        <activity android:name=".View.InteractiveAnimationView.InteractiveAnimationView"></activity>
        <activity android:name=".View.speech2text.Speech2TextActivity"></activity>
        <activity android:name=".View.pip.PIPActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"></activity>
        <activity android:name=".View.floatingview.FloatingViewActivity"></activity>
        <service
            android:name=".View.floatingview.FloatingViewService"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".View.login.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.SignUp.SignUpView"></activity>
        <activity android:name=".View.AccountTest.GoogleSignInActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>