<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapplication">

    <!-- 使用Sugar DB-->
    <meta-data android:name="DATABASE" android:value="@string/db_name" />
    <meta-data android:name="VERSION" android:value="@integer/db_version" />
    <meta-data android:name="QUERY_LOG" android:value="@bool/db_query_log" />
    <!-- DOMAIN_PACKAGE_NAME是application前一層目錄-->
    <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.myapplication" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".View.application.MainApplication"
        tools:replace="android:icon">
        <activity android:name=".View.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.test.TestActivity"></activity>
    </application>

</manifest>